.map {
  position: relative;
  min-height: calc(100vh - 6rem);
  height: calc(100% - 6rem);
}

@media (min-width:992px) {
  .map {
    height: 100%;
  }
}

.no-map {
  opacity: 0;
}

.alert-pending {
  font-weight: bold;
  color: var(--azul-oscuro);
  cursor: pointer;
}

.route-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-time-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.route-time-group-info {
  text-align: center;
}

.route-time-group-info p {
  margin-bottom: 0.3rem;
}

.route-time-group-icon {
  width: 32px;
}

.route-path {
  margin: 0.5rem 0;
  background-image: url(/assets/icons/road.svg);
  height: 48px;
  width: 100%;
}