<div *ngIf="isLoading" class="flex-center spinner-loading fade-in">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div *ngIf="!hasBeenVinculated && !isLoading" class="alert alert--info fade-in">
  Esta cuenta no ha sido vinculada con otros usuarios para el rastreo de la
  ubicación.
</div>

<header *ngIf="hasBeenVinculated && !isLoading" class="fade-in">
  <div *ngIf="alert.isActive" class="alert alert--error">
    La alerta se encuentra activa.
  </div>
  <div *ngIf="!alert.isActive" class="alert alert--success">
    La alerta se encuentra en pausa.
  </div>
  <h4>{{ (alert.startTime | date: "fullDate" | titlecase) || "" }}</h4>
  <div class="route-time">
    <div class="route-time-group">
      <div class="route-time-group-info">
        <p>Tiempo de Inicio</p>
        <p>{{ alert.startTime | date: "mediumTime" || "--:--:--" }}</p>
      </div>
      <div class="route-time-group-icon">
        <img src="assets/icons/location.svg" alt="Icono de ubicación" />
      </div>
    </div>
    <div class="route-time-group">
      <div class="route-time-group-info">
        <p>Tiempo de Fin</p>
        <p>{{ alert.endTime | date: "mediumTime" || "--:--:--" }}</p>
      </div>
      <div class="route-time-group-icon">
        <img src="assets/icons/flag.svg" alt="Icono de Bandera de Meta" />
      </div>
    </div>
  </div>
  <div class="route-path"></div>
</header>
<div #mapDiv class="map"></div>
