<main *ngIf="!isLoading" class="container fade-in">
  <h1>Calcula tu peso ideal</h1>
  <p class="text-center">
    Para tener un cálculo correcto se requiere la siguiente información acerca
    de usted
  </p>
  <form
    autocomplete="off"
    [formGroup]="healthForm"
    (submit)="calculateWeight()"
  >
    <div class="cards">
      <div class="custom-card">
        <div class="card-number">1</div>
        <div class="card-info">
          <h3>¿Cuál es tu genero?</h3>
          <div class="card-genders">
            <div class="gender">
              <img src="assets/icons/man.svg" />
              <p-toggleButton
                (click)="setManGender()"
                formControlName="isMan"
                onLabel="Hombre"
                offLabel="Hombre"
              ></p-toggleButton>
            </div>
            <div class="gender">
              <img src="assets/icons/woman.svg" />
              <p-toggleButton
                (click)="setWomanGender()"
                formControlName="isWoman"
                onLabel="Mujer"
                offLabel="Mujer"
              ></p-toggleButton>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-card">
        <div class="card-number">2</div>
        <div class="card-info">
          <h3>¿Cuánto pesas?</h3>
          <div class="card-age">
            <input
              type="number"
              min="0"
              formControlName="weight"
              class="card-input"
            />
            <p>kg</p>
          </div>
        </div>
      </div>
      <div class="custom-card">
        <div class="card-number">3</div>
        <div class="card-info">
          <h3>¿Cuánto mides?</h3>
          <div class="card-age">
            <input
              type="number"
              min="0"
              formControlName="height"
              class="card-input"
            />
            <p>cm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-center">
      <button class="primary-button">
        Calcular
        <mat-icon>data_saver_off</mat-icon>
      </button>
    </div>
  </form>
  <hr class="divider" />
  <div *ngIf="idealWeight > 0" class="fade-in">
    <h1 class="result">Tu resultado personal</h1>
    <div class="weight-bar">
      <div class="low-weight weight">
        <div
          *ngIf="user.weight! < firstRange"
          class="weight-message current-range"
        >
          <p>Peso actual</p>
          <span class="text-bold"> {{ user.weight | number: "1.0-2" }}kg </span>
        </div>
        <p>bajo peso</p>
        <div class="low-weight-bar bar"></div>
      </div>
      <div class="normal-weight weight">
        <div class="weight-message">
          <p *ngIf="user.weight! < firstRange || user.weight! > secondRange">
            Rango ideal
          </p>
          <p *ngIf="user.weight! >= firstRange && user.weight! < secondRange">
            Peso actual
          </p>
          <span class="text-bold">
            {{ firstRange | number: "1.0-2" }}kg -
            {{ secondRange | number: "1.0-2" }}kg
          </span>
        </div>
        <p>peso normal</p>
        <div class="normal-weight-bar bar"></div>
      </div>
      <div class="high-weight weight">
        <div
          *ngIf="user.weight! >= secondRange && user.weight! < thirdRange"
          class="weight-message current-range"
        >
          <p>Peso actual</p>
          <span class="text-bold">
            {{ user.weight! | number: "1.0-2" }}kg
          </span>
        </div>
        <p>sobrepeso</p>
        <div class="high-weight-bar bar"></div>
      </div>
      <div class="obesity-weight weight">
        <div
          *ngIf="user.weight! >= thirdRange && user.weight! < fourthRange"
          class="weight-message current-range"
        >
          <p>Peso actual</p>
          <span class="text-bold">
            {{ user.weight! | number: "1.0-2" }}kg
          </span>
        </div>
        <p>obesidad</p>
        <div class="obesity-weight-bar bar"></div>
      </div>
      <div class="obesity-high-weight weight">
        <div
          *ngIf="user.weight! >= fourthRange"
          class="weight-message current-range"
        >
          <p>Peso actual</p>
          <span class="text-bold">
            {{ user.weight! | number: "1.0-2" }}kg
          </span>
        </div>
        <p>obsidad mórbida</p>
        <div class="obesity-high-weight-bar bar"></div>
      </div>
    </div>
    <div class="range-weights">
      <p></p>
      <p>{{ firstRange | number: "1.0-2" }}kg</p>
      <p>{{ secondRange | number: "1.0-2" }}kg</p>
      <p>{{ thirdRange | number: "1.0-2" }}kg</p>
      <p>{{ fourthRange | number: "1.0-2" }}kg</p>
    </div>
  </div>
</main>
