.card {
  display: block;
}

.post-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-main video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.post-information {
  padding: 0.5rem;
}

.post-likes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.post-comments,
.post-time {
  margin: 0.5rem 0;
  color: rgb(142, 142, 142);
}

.post-time {
  font-size: 0.7rem;
  text-transform: uppercase;
}
