<header class="header">
  <div class="filter">
    <mat-icon>search</mat-icon>
    <input (keyup)="filterRoutes($event)" type="text" placeholder="Buscar..." />
  </div>
  <button
    *ngIf="routes.length > 0"
    pButton
    type="button"
    label="Eliminar Historial"
    (click)="deleteAllRoutes()"
    class="p-button-raised p-button-danger"
  ></button>
</header>
<ul *ngIf="!isLoading" class="fade-in">
  <li *ngFor="let route of routes">
    <header class="route-header">
      <div class="route-header-info">
        <div class="route-title">
          <h3>{{ route.name }} ({{ route.distance | number: "1.0-2" }} km)</h3>
          <button
            pButton
            icon="pi pi-trash"
            iconPos="right"
            type="button"
            (click)="deleteRoute(route.idRoute)"
            class="p-button-raised p-button-rounded p-button-danger route-button"
          ></button>
        </div>
        <main>
          <p>
            Fecha:
            <span>{{ route.startDate | date: "fullDate" | titlecase }}</span>
          </p>
          <p>
            Ciudad: <span>{{ route.city }}</span>
          </p>
          <div class="route-keywords">
            <p>Palabras Clave:</p>
            <span class="keyword" *ngFor="let keyword of route.keywords">
              {{ keyword }}
            </span>
          </div>
          <div class="route-difficulty">
            <p>Dificultad:</p>
            <span
              class="route-difficulty-level"
              [ngClass]="{
                easy: route.difficulty === 'Fácil',
                medium: route.difficulty === 'Medio',
                hard: route.difficulty === 'Difícil'
              }"
              >{{ route.difficulty }}</span
            >
          </div>
          <footer class="route-footer">
            <p class="route-rating">
              Calificación:
              <bar-rating
                [rate]="route.calification"
                [max]="5"
                [readOnly]="true"
              ></bar-rating>
            </p>
            <button
              class="primary-button info-button"
              [routerLink]="['./', route.idRoute]"
            >
              Ver Más
            </button>
          </footer>
        </main>
      </div>
    </header>
    <div class="route-time">
      <div class="route-time-group">
        <div class="route-time-group-info">
          <p>Tiempo de Inicio</p>
          <p>{{ route.startDate | date: "mediumTime" }}</p>
        </div>
        <div class="route-time-group-icon">
          <img src="assets/icons/location.svg" alt="Icono de ubicación" />
        </div>
      </div>
      <div class="route-time-group">
        <div class="route-time-group-info">
          <p>Tiempo de Fin</p>
          <p>{{ route.endDate | date: "mediumTime" }}</p>
        </div>
        <div class="route-time-group-icon">
          <img src="assets/icons/flag.svg" alt="Icono de Bandera de Meta" />
        </div>
      </div>
    </div>
    <div class="route-path"></div>
  </li>
</ul>

<div *ngIf="isLoading" class="flex-center spinner-loading">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div *ngIf="routes.length === 0 && !isLoading" class="no-results fade-in">
  <img src="assets/dashboard/routes.svg" alt="Photos" />
  <p>No se encontraron resultados de rutas</p>
</div>
