<header class="header">
  <div class="filter">
    <mat-icon>search</mat-icon>
    <input (keyup)="filterRoutes($event)" type="text" placeholder="Buscar..." />
  </div>
  <button
    pButton
    type="button"
    label="Eliminar Historial"
    (click)="deleteAllRoutes()"
    class="p-button-raised p-button-danger"
  ></button>
</header>
<ul *ngIf="!isLoading" class="fade-in">
  <li *ngFor="let route of routes">
    <header class="route-header">
      <div class="route-header-icon">
        <img src="assets/icons/type.png" alt="Icono de ruta" />
      </div>
      <div class="route-header-info">
        <h3>{{ route.name }}</h3>
        <main>
          <p>
            Distancia Recorrida: <span>{{ route.distance }} metros</span>
          </p>
          <p>
            Ciudad: <span>{{ route.city }}</span>
          </p>
          <p>
            Fecha:
            <span>{{ route.startDate | date: "fullDate" | titlecase }}</span>
          </p>
          <button
            class="primary-button info-button"
            [routerLink]="['./', route.idRoute]"
          >
            Ver Más
          </button>
        </main>
      </div>
    </header>
    <div class="route-time">
      <div class="route-time-group">
        <div class="route-time-group-info">
          <p>Tiempo de Inicio</p>
          <p>{{ route.startDate | date: "mediumTime" }}</p>
        </div>
        <div class="route-time-group-icon">
          <img src="assets/icons/location.svg" alt="Icono de ubicación" />
        </div>
      </div>
      <div class="route-time-group">
        <div class="route-time-group-info">
          <p>Tiempo de Fin</p>
          <p>{{ route.endDate | date: "mediumTime" }}</p>
        </div>
        <div class="route-time-group-icon">
          <img src="assets/icons/flag.svg" alt="Icono de Bandera de Meta" />
        </div>
      </div>
    </div>
    <div class="route-path"></div>
    <button
      pButton
      icon="pi pi-trash"
      iconPos="right"
      type="button"
      (click)="deleteRoute(route.idRoute)"
      class="p-button-raised p-button-rounded p-button-danger route-button"
    ></button>
  </li>
</ul>

<div *ngIf="isLoading" class="flex-center spinner-loading">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div
  *ngIf="routes.length === 0 && !isLoading"
  class="alert alert--info fade-in"
>
  No se encontró ningún resultado.
</div>
