<div class="login-container">
  <div class="login-card">
    <header>
      <div class="login-logo" routerLink="/">
        <img src="assets/logoFreeMoveColor.png" alt="FreeMove Logo" />
      </div>
      <h1 class="login-title">Iniciar Sesión</h1>
    </header>
    <form class="login-form" [formGroup]="miFormulario" (submit)="loginUser()">
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="campoNoValido('email')">
          El correo electrónico es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="********"
        />
        <mat-error *ngIf="campoNoValido('password')">
          La contraseña debe tener mínimo <strong>1</strong> caracteres
        </mat-error>
      </mat-form-field>
      <button type="submit" class="login-button">Continuar</button>
      <footer class="login-footer">
        <p>¿No tienes una cuenta?</p>
        <p class="register" routerLink="../register">Regístrate aquí</p>
      </footer>
    </form>
  </div>
</div>
