<div class="login-container">
  <div class="login-card">
    <header>
      <div class="login-logo" routerLink="/">
        <img src="assets/logoFreeMoveColor.png" alt="FreeMove Logo" />
      </div>
      <div @fade *ngIf="isError" class="alert alert--error">
        <p><strong>Error!</strong> El correo o contraseña son incorrectos</p>
      </div>
    </header>
    <form class="login-form" [formGroup]="loginForm" (submit)="loginUser()">
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="invalidInput('email')">
          El correo electrónico es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="********"
        />
        <mat-error *ngIf="invalidInput('password')">
          Mínimo <strong>6</strong> caracteres
        </mat-error>
      </mat-form-field>
      <div class="flex-start text-grey">
        <input type="checkbox" id="remember" formControlName="remember" />
        <label for="remember">Recordarme</label>
      </div>
      <div class="flex-end text-grey">
        <p class="register" routerLink="../forgot-password">
          ¿Olvidaste tu contraseña?
        </p>
      </div>

      <button type="submit" class="login-button">Continuar</button>

      <div class="divider">
        <hr />
        <div class="mid">
          <p>o</p>
        </div>
        <hr />
      </div>
    </form>
    <button class="button-oauth" (click)="loginGoogle()">
      <img src="assets/icons/google.svg" alt="Google" />
      <p>Continuar con Google</p>
    </button>
    <button class="button-oauth" (click)="loginFacebook()">
      <img src="assets/icons/facebook.svg" alt="Facebook" />
      <p>Continuar con Facebook</p>
    </button>

    <footer class="login-footer">
      <p>¿No tienes una cuenta?</p>
      <p class="register" routerLink="../register">Regístrate aquí</p>
    </footer>
  </div>
</div>
