.login-container {
  background-color: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  margin: 1.5rem 0;
  width: 27rem;
  max-width: 90%;
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width:768px) {
  .login-card {
    padding: 2.5rem 3rem;
  }
}

.login-logo {
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  background-color: var(--amarillo);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: var(--amarillo-hover);
}

.divider {
  margin: 1rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: 45% 10% 45%;
  
}

.divider hr {
  width: 100%;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid p {
  margin: 0;
  color: #47474793;
  font-weight: 300;
}

.button-oauth {
  width: 100%;
  margin: 0.5rem 0;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: #6a6a6a;
  padding-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.button-oauth img {
  width: 1.2rem;
}

.button-oauth p {
  margin: 0;
  margin-left: 0.5rem;
}

.button-oauth:hover {
  background-color: #f5f5f5;
}

.login-footer {
  margin: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
  color: #757575;
}

.login-footer p {
  margin: 0;
}

.register {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.register:hover {
  color: #474747;
}

.text-grey {
  font-size: 0.9rem;
  color: #757575;
}

.text-grey label {
  margin-left: 0.25rem;
}

.text-grey input {
  accent-color: #4e905a;
}