.dashboard {
  display: grid;
  grid-template-columns: 100%;
  gap: 1.5rem;
}

@media (min-width: 992px) {
  .dashboard {
    grid-template-columns: 65% 35%;
  }
}

@media (min-width: 1280px) {
  .dashboard {
    grid-template-columns: 70% 30%;
  }
}

@media (min-width: 1600px) {
  .dashboard {
    grid-template-columns: 75% 25%;
  }
}

.slider {
  margin-bottom: 1rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-title {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.main-title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.main-title img {
  width: 2rem;
  height: 2rem;
  transform: translateY(-0.3rem);
}

.main-header button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--azul-oscuro);
}

.main-header mat-icon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.slider {
  margin-bottom: 2rem;
}

.route-slider {
  position: relative;
  margin-bottom: 2rem;
  height: 20rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.route-title {
  position: absolute;
  bottom: 20px;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.route-slider h5 {
  width: 90%;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.route-img{
  aspect-ratio: 9/16;
  object-fit: cover;
  height: 100%;
}

.charts {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

@media (min-width: 1500px) {
  .charts {
    grid-template-columns: 50% 50%;
  }
}

.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0;
  gap: 4rem;
}


@media (min-width: 768px){
  .community {
    flex-direction: row;
  }
}

.community-info {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px){
  .community-info {
    width: 20rem;
  }
}

.community-info h2 {
  font-size: 3rem;
  font-weight: lighter;
  color: var(--azul-oscuro);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.community img {
  width: 100%;
  max-width: 500px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .aside {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.stadistics, .health {
  background-color: rgba(194, 231, 201, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.health {
  background-color: rgba(242, 172, 32, 0.6);
}

.stadistics-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .stadistics-header {
    margin-bottom: 1rem;
  }
}

.stadistics-header h4 {
  color: var(--azul);
  font-weight: 400;
  margin: 0;
  transition: color 0.3s ease;
}

.stadistics-header h4:hover {
  color: #283b7b;
}

.stadistics-header img {
  width: 2.5rem;
  height: 2.5rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.group-health {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.group h5 {
  text-align: center;
  font-weight: 600;
  color: var(--amarillo);
}

.group-health h5 {
  text-align: center;
  font-weight: 600;
  color: #666666;
}

.group-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.group-item h6 {
  font-size: 1.3rem;
  color: var(--azul-oscuro);
  font-weight: 700;
  margin: 0;
}

.group-item p {
  color: var(--azul-oscuro);
}

.height-center h5 {
  margin-bottom: 1rem;
}

.height {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.height p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.weight-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.weight {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.weight p {
  font-size: 1.1rem;
}

.weight h5, .weight p {
  margin: 0 !important;
}

.weight p {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  background-color: #148429;
}

.weight-level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.weight-level h5 {
  margin: 0 !important;
}

.weight-level span {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}

.low-weight {
  background-color: #f2ac20;
}

.normal-weight {
  background-color: #148429;
}

.high-weight {
  background-color: #f2ac20;
}

.weight-button {
  --color: var(--verde);
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  width: 100%;
}