<div class="dashboard">
  <main class="main">
    <swiper
      *ngIf="photos.length > 0"
      class="slider"
      [loop]="true"
      [autoplay]="{
        delay: 5000,
        disableOnInteraction: false
      }"
    >
      <ng-template swiperSlide *ngFor="let photo of photos">
        <img [src]="photo" />
      </ng-template>
    </swiper>
    <app-chart
      [chartData]="last7daysData"
      title="Rendimiento en los últimos 7 días"
    ></app-chart>
    <div class="chart">
      <app-chart
        [chartData]="last30daysData"
        title="Rendimiento en los últimos 30 días"
      ></app-chart>
    </div>
  </main>
  <aside class="aside">
    <div class="stadistics">
      <header class="stadistics-header" routerLink="/dashboard/bitacora">
        <h4>Mis Estadísticas</h4>
        <img src="assets/icons/bicicleta.svg" alt="Bicicleta" />
      </header>
      <div class="group">
        <h5>{{ currentDay | date: "MMMM" | titlecase }}</h5>
        <div class="group-info">
          <div class="group-item">
            <h6>
              {{ monthStadistics.distanceTraveled }}
            </h6>
            <p>Kilómetros</p>
          </div>
          <div class="group-item">
            <h6>{{ monthStadistics.burnoutCalories }}</h6>
            <p>Calorías</p>
          </div>
          <div class="group-item">
            <h6>{{ monthStadistics.numberOfRoutes }}</h6>
            <p>Rutas</p>
          </div>
        </div>
      </div>
      <div class="group">
        <h5>{{ currentDay | date: "EEEE d 'de' MMMM" | titlecase }}</h5>
        <div class="group-info">
          <div class="group-item">
            <h6>{{ dayStadistics.distanceTraveled }}</h6>
            <p>Kilómetros</p>
          </div>
          <div class="group-item">
            <h6>{{ dayStadistics.burnoutCalories }}</h6>
            <p>Calorías</p>
          </div>
          <div class="group-item">
            <h6>{{ dayStadistics.numberOfRoutes }}</h6>
            <p>Rutas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="health">
      <header class="stadistics-header">
        <h4>Mi Salud</h4>
        <img src="assets/icons/persona.svg" alt="Persona" />
      </header>
      <div class="group-health">
        <div class="health-tablet">
          <div class="height-center">
            <h5>Estatura</h5>
            <div class="flex-center">
              <div class="height">
                <p>{{ user.height }}</p>
                <p>metros</p>
              </div>
              <div>
                <img src="assets/icons/height.jpg" alt="Icono de Cuerpo" />
              </div>
            </div>
          </div>
          <div class="weight-center">
            <div class="weight">
              <h5>Peso Actual:</h5>
              <p>{{ user.weight }} kg</p>
            </div>
            <div class="weight">
              <h5>Peso Ideal:</h5>
              <p>{{ user.weight! / user.height! }} kg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
