<footer class="footer">
  <div class="container">
    <div class="footer-logos">
      <div routerLink="/">
        <picture>
          <source type="image/webp" srcset="assets/home/footerLogo.webp" />
          <img
            src="assets/home/footerLogo.png"
            alt="FreeMove Logo"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source type="image/webp" srcset="assets/home/smartlandLogo.webp" />
          <img
            src="assets/home/smartlandLogo.png"
            alt="SmartLand Logo"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source type="image/webp" srcset="assets/home/utplLogo.webp" />
          <img src="assets/home/utplLogo.png" alt="UTPL Logo" loading="lazy" />
        </picture>
      </div>
    </div>

    <div class="footer-texts">
      <p class="text-short">Observatorio de Movilidad</p>
      <p class="text-short">Ciencias de la Computación y Electrónica</p>
    </div>

    <hr />
    <p class="copyright">Derechos Reservados UTPL - {{ year }}</p>
    <div class="footer-links">
      <a
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100086681644370"
      >
        <img
          src="assets/home/facebook-icon.svg"
          alt="Facebook Logo"
          loading="lazy"
        />
      </a>
      <a target="_blank" href="https://twitter.com/Freemoveec">
        <img
          src="assets/home/twitter-icon.svg"
          alt="Twitter Logo"
          loading="lazy"
        />
      </a>
      <a target="_blank" href="https://www.instagram.com/freemoveec/">
        <img
          src="assets/home/instagram-icon.svg"
          alt="Instagram Logo"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</footer>
