<nav class="navbar" *ngIf="!isPhone" [ngClass]="{ 'bg-transparent': isHome }">
  <div class="navbar-logo" routerLink="/">
    <picture>
      <source type="image/webp" srcset="assets/logoFreeMove.webp" />
      <img src="assets/logoFreeMove.png" alt="FreeMove Logo" />
    </picture>
  </div>
  <ul class="navbar-listado">
    <li class="navbar-listado-item">
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="activeLink"
        >Inicio</a
      >
    </li>
    <li class="navbar-listado-item">
      <a (click)="scrollToSection('city')">Ciudad</a>
    </li>
    <li class="navbar-listado-item">
      <a (click)="scrollToSection('health')">Salud</a>
    </li>
    <li class="navbar-listado-item">
      <a (click)="scrollToSection('services')">Servicios</a>
    </li>
    <li class="navbar-listado-item">
      <a (click)="scrollToSection('process')">Proceso</a>
    </li>
    <li>
      <button (click)="navigateToDashboard()" class="boton-login">
        Registro/Ingreso
      </button>
    </li>
  </ul>
</nav>

<nav
  class="navbar-phone"
  *ngIf="isPhone"
  [ngClass]="{ 'bg-transparent': isHome }"
>
  <ul class="navbar-responsive">
    <li class="item" routerLink="/">
      <picture>
        <source type="image/webp" srcset="assets/logoFreeMove.webp" />
        <img
          class="item-logo"
          src="assets/logoFreeMove.png"
          alt="FreeMove Logo"
        />
      </picture>
    </li>
    <li class="item">
      <button class="item-button" (click)="showMenu = true">
        <img class="item-open" src="/assets/icons/menu.png" alt="Abrir Menu" />
      </button>
    </li>
  </ul>
  <div class="menu-items-responsive" [ngClass]="{ 'show-menu': showMenu }">
    <div class="button-responsive">
      <button class="item-button" (click)="showMenu = false">
        <img src="/assets/icons/close.png" alt="Cerrar Menu" />
      </button>
    </div>
    <ul class="listado-items-responsive">
      <li
        class="navbar-listado-item-responsive"
        routerLink="/"
        routerLinkActive="activeLinkResponsive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p>Inicio</p>
      </li>
      <li
        class="navbar-listado-item-responsive"
        (click)="scrollToSection('city'); showMenu = false"
      >
        <p>Ciudad</p>
      </li>
      <li
        class="navbar-listado-item-responsive"
        (click)="scrollToSection('health'); showMenu = false"
      >
        <p>Salud</p>
      </li>
      <li
        class="navbar-listado-item-responsive"
        (click)="scrollToSection('services'); showMenu = false"
      >
        <p>Servicios</p>
      </li>
      <li
        class="navbar-listado-item-responsive"
        (click)="scrollToSection('process'); showMenu = false"
      >
        <p>Procesos</p>
      </li>
      <li
        (click)="navigateToDashboard()"
        class="navbar-listado-item-responsive"
      >
        <p>Registro/Ingreso</p>
      </li>
    </ul>
  </div>
</nav>
