<div class="login-container">
  <div class="login-card">
    <header>
      <div class="login-logo" routerLink="/">
        <img src="assets/logoFreeMoveColor.png" alt="FreeMove Logo" />
      </div>
      <div @fade *ngIf="isError" class="alert alert--error">
        <p><strong>Error!</strong> El correo ingresado ya está en uso</p>
      </div>
    </header>
    <form
      class="login-form"
      [formGroup]="registerForm"
      (submit)="registerUser()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nombres y Apellidos</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Escribe tus nombres completos"
        />
        <mat-error *ngIf="campoNoValido('name')">
          Los nombres y apellidos son <strong>obligatorios</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="campoNoValido('email')">
          El correo electrónico es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="********"
        />
        <mat-error *ngIf="campoNoValido('password')">
          Mínimo <strong>6</strong> caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password2"
          placeholder="Repetir la contraseña"
        />
        <mat-error *ngIf="campoNoValido('password2')">
          Las contraseñas deben ser <strong>iguales</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" class="login-button">Registrarse</button>
      <footer class="login-footer">
        <p>¿Ya tienes una cuenta?</p>
        <p class="register" routerLink="../login">Ingresa aquí</p>
      </footer>
    </form>
  </div>
</div>
