<div *ngIf="isLoading" class="flex-center spinner-loading">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="total">
    <h1>Total:</h1>
    <p>
      {{ routes.length }}
      {{ routes.length > 1 || routes.length == 0 ? "rutas" : "ruta" }}
    </p>
  </div>
  <section class="hours">
    <app-top-hours [routes]="routes"></app-top-hours>
    <app-range-hours [routes]="routes"></app-range-hours>
  </section>

  <section class="stadistics">
    <header class="header">
      <h1>Estadísticas Promedio</h1>
    </header>
    <div class="fade-in">
      <app-stadistics [needAvg]="true" [routes]="routes"></app-stadistics>
    </div>
  </section>

  <section class="heat-map">
    <app-heat-map [routes]="routes"></app-heat-map>
  </section>

  <section class="heat-map">
    <app-recurrent-incidents [incidents]="incidents"></app-recurrent-incidents>
  </section>
</div>
