.total {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.total h1 {
  font-size: 1.7rem;
  color: #3d3d3d;
  margin: 0;
}

.total p {
  margin: 0;
  font-size: 1.5rem;
}

.header {
  margin: 1rem 0;
}

.header h1 {
  margin: 0;
  font-size: 1.7rem;
  color: #3d3d3d;
}

.hours {
  gap: 1rem;
  margin-bottom: 2rem;
}

.stadistics {
  margin-bottom: 2rem;
}
