<div *ngIf="!isLoading" class="fade-in">
  <p>
    Para poder vincular una cuenta debe solicitar a otro usuario aceptar su
    petición de vinculamiento.
  </p>
  <form [formGroup]="linkAccountForm" #form autocomplete="off">
    <div @fade *ngIf="isErrorEmail" class="alert alert--error">
      <p>
        <strong>¡Error!</strong> No puede enviar la solicitud a usted mismo.
      </p>
    </div>
    <div @fade *ngIf="isErrorUser" class="alert alert--error">
      <p>
        <strong>¡Error!</strong> No existe un usuario con ese correo
        electrónico.
      </p>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Correo a vincular</mat-label>
      <input
        type="email"
        matInput
        formControlName="linkedEmail"
        placeholder="example@gmail.com"
      />
      <mat-error *ngIf="invalidInput('linkedEmail')">
        El correo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <div class="flex-center">
      <button
        *ngIf="
          !alert?.linkedAccount &&
          (alert?.notificationStatus === 'rejected' ||
            !alert?.notificationStatus)
        "
        class="primary-button fade-in"
        (click)="sendInvitation()"
      >
        <span>Enviar invitación</span>
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="flex-center">
      <button
        *ngIf="alert?.notificationStatus === 'pending'"
        class="primary-button fade-in"
        disabled
      >
        <span>Invitación enviada</span>
        <mat-icon>access_time_filled</mat-icon>
      </button>
    </div>
    <div class="flex-center">
      <button
        *ngIf="alert?.linkedAccount"
        class="primary-button fade-in"
        (click)="changeLinkedEmail()"
      >
        <span>Cambiar email</span>
        <mat-icon>change_circle</mat-icon>
      </button>
    </div>
  </form>
</div>

<div *ngIf="isLoading" class="flex-center spinner-loading">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>
