<div class="filters">
  <div class="filter-group">
    <h5>Filtrar por Días</h5>
    <div class="filter-input">
      <p-dropdown
        [options]="options"
        [(ngModel)]="selectedDays"
        optionLabel="name"
        optionValue="value"
      ></p-dropdown>
      <button class="primary-button" (click)="filterGraphByDays()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-group">
    <h5>Filtrar por Rango de Meses</h5>
    <div class="filter-input">
      <p-calendar
        [(ngModel)]="selectedStartMonth"
        view="month"
        dateFormat="mm/yy"
        [readonlyInput]="true"
        [maxDate]="selectedEndMonth"
      ></p-calendar>
      <p-calendar
        [(ngModel)]="selectedEndMonth"
        view="month"
        dateFormat="mm/yy"
        [readonlyInput]="true"
        [minDate]="selectedStartMonth"
      ></p-calendar>
      <button class="primary-button" (click)="filterGraphByMonthsRanges()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-group">
    <h5>Filtrar por Mes</h5>
    <div class="filter-input">
      <p-calendar
        [(ngModel)]="selectedMonth"
        view="month"
        dateFormat="mm/yy"
        [readonlyInput]="true"
        inputId="monthpicker"
      ></p-calendar>
      <button class="primary-button" (click)="filterGraphByMonth()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-group">
    <h5>Filtrar por Rango de Años</h5>
    <div class="filter-input">
      <p-calendar
        [(ngModel)]="selectedStartYear"
        view="year"
        dateFormat="yy"
        [maxDate]="selectedEndYear"
      ></p-calendar>
      <p-calendar
        [(ngModel)]="selectedEndYear"
        view="year"
        dateFormat="yy"
        [minDate]="selectedStartYear"
      ></p-calendar>
      <button class="primary-button" (click)="filterGraphByYearsRanges()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-group">
    <h5>Filtrar por Año</h5>
    <div class="filter-input">
      <p-calendar
        [(ngModel)]="selectedYear"
        view="year"
        dateFormat="yy"
        inputId="yearpicker"
      ></p-calendar>
      <button class="primary-button" (click)="filterGraphByYear()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-group">
    <h5>Filtro Avanzado</h5>
    <div class="filter-input">
      <p-calendar
        [(ngModel)]="selectedAdvancedDate"
        selectionMode="range"
        [readonlyInput]="true"
        dateFormat="dd/mm/yy"
        inputId="range"
      ></p-calendar>
      <button class="primary-button" (click)="filterGraphByAdvancedDate()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>
</div>
