<nav class="navbar">
  <h2>Bienvenido a FreeMove</h2>
  <div class="search">
    <div class="p-input-icon-right search-input">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Buscar..."
        (keyup)="filterRoutes($event)"
        (keyup.enter)="search($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let route of filteredRoutes"
          [routerLink]="['/dashboard/rutas', route.idRoute]"
        >
          {{ route.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <button class="nav-button flex-center">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="options">
    <button
      mat-icon-button
      [matMenuTriggerFor]="messagesMenu"
      aria-label="Example icon-button with a menu"
      class="nav-button flex-center"
    >
      <mat-icon
        *ngIf="messages.length > 0"
        [matBadge]="messages.length > 9 ? '9+' : messages.length"
        matBadgeColor="primary"
        >messenger</mat-icon
      >
      <mat-icon *ngIf="messages.length === 0">messenger</mat-icon>
      <!-- Menu -->
      <mat-menu #messagesMenu>
        <div class="messages">
          <h3>Mensajes</h3>
          <ul class="messages-list" *ngIf="messages.length > 0">
            <li *ngFor="let message of messages">
              <h4>{{ message.title }}</h4>
              <p>{{ message.message }}</p>
            </li>
          </ul>
          <p *ngIf="messages.length === 0">No hay mensajes</p>
        </div>
      </mat-menu>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="notificationsMenu"
      aria-label="Example icon-button with a menu"
      class="nav-button flex-center"
    >
      <mat-icon
        *ngIf="notifications.length > 0"
        [matBadge]="notifications.length > 9 ? '9+' : notifications.length"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
      <mat-icon *ngIf="notifications.length === 0">notifications</mat-icon>

      <!-- Menu -->
      <mat-menu #notificationsMenu>
        <div class="notifications">
          <h3>Notificaciones</h3>
          <ul class="notifications-list" *ngIf="notifications.length > 0">
            <li
              *ngFor="let notification of notifications"
              (click)="navigateTo(notification)"
            >
              <h4>{{ notification.title }}</h4>
              <p>{{ notification.message }}</p>
            </li>
          </ul>
          <p *ngIf="notifications.length === 0">No hay notificaciones</p>
        </div>
      </mat-menu>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="profileMenu"
      aria-label="Example icon-button with a menu"
      class="nav-button flex-center"
    >
      <mat-icon>person</mat-icon>

      <!-- Menu -->
      <mat-menu #profileMenu>
        <div class="user-info">
          <!-- Photo Preview -->
          <div class="photo">
            <img [src]="photoUrl" alt="Foto de perfil" />
          </div>

          <!-- Name -->
          <p class="name">
            {{
              user.name.length > 20
                ? (user.name | slice: 0:20) + "..."
                : user.name
            }}
          </p>

          <!-- Email -->
          <p class="email">
            {{
              user.email.length > 20
                ? (user.email | slice: 0:20) + "..."
                : user.email
            }}
          </p>
        </div>

        <button mat-menu-item routerLink="./perfil">
          <mat-icon>account_circle</mat-icon>
          <span>Editar Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </button>
  </div>
</nav>
