.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0;
}

@media (min-width:1280px){
  .navbar {
    height: 5rem;
  }
}

.navbar h2 {
  opacity: 0;
  color: var(--azul-oscuro);
  font-size: 0.2rem;
  font-family: var(--fuente-principal) ;
  font-weight: 500;
}

@media (min-width: 768px){
  .navbar h2 {
    display: none;
    opacity: 1;
  }
}

@media (min-width: 1280px){
  .navbar h2 {
    font-size: 2rem;
    display: block;
  }
}

.search {
  display: none;
}

@media (min-width:768px){
  .search {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.search-input input {
  border-radius: 25px;
  width: 17rem;
  padding: 0.5rem 1.5rem;
  font-family: var(--fuente-principal);
}

.search-input input::placeholder {
  color: #9D9D9D;
}

.search-input i {
  color: #D7D7D7;
  font-weight: bold;
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1280px){
  .options {
    gap: 2rem;
  }
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-button mat-icon {
  color: #FFF;
  transition: color 0.4s ease;
}

.nav-button mat-icon:hover {
  color: #b6b6b6;
}

@media (min-width: 768px){
  .nav-button mat-icon {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #A9A9A9;
  }

  .nav-button mat-icon:hover {
    color: #646464;
  }
}

/* Menu */

.user-info {
  padding: 1rem;
}

.name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--azul-oscuro);
}

.email {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  color: var(--azul-oscuro);
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Notifications & Messages */

.notifications, .messages {
  padding: 1rem;
}

.notifications h3, .messages h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--azul-oscuro);
  margin-bottom: 1rem;
}

.notifications-list, .messages-list {
  list-style: none;
  padding: 0;
}

.notifications-list li, .messages-list li {
  cursor: pointer;
  border-bottom: 1px solid #E5E5E5;
}

.notifications-list h4, .messages-list h4 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.notifications-list p, .messages-list p {
  font-size: 1rem;
  color: #5c5c5c;
}