<header class="route-header">
  <h3>{{ route.name }}({{ route.distance }} metros)</h3>
  <div class="route-calification">
    <p>Calificación:</p>
    <bar-rating
      [rate]="route.calification"
      [max]="5"
      [readOnly]="true"
    ></bar-rating>
  </div>
  <div class="route-keywords">
    <p>Palabras Clave:</p>
    <span class="keyword" *ngFor="let keyword of route.keywords">
      {{ keyword }}
    </span>
  </div>
  <div class="photos">
    <swiper
      [spaceBetween]="10"
      [slidesPerView]="1.2"
      [pagination]="true"
      [grabCursor]="true"
      [breakpoints]="{
        '499': {
          slidesPerView: 2.2
        },
        '768': {
          slidesPerView: 2.5
        },
        '992': {
          slidesPerView: 3.2
        },
        '1200': {
          slidesPerView: 4.5
        }
      }"
    >
      <ng-template
        swiperSlide
        *ngFor="let photo of route.photos; let i = index"
      >
        <img [src]="photo.photoUrl" (click)="lightbox.open(i)" />
      </ng-template>
    </swiper>
  </div>
</header>
<main class="main-container">
  <div #mapDiv class="map">
    <share-buttons
      class="share-buttons"
      theme="circles-dark"
      [include]="['copy', 'facebook', 'twitter', 'whatsapp']"
      [showIcon]="true"
      [showText]="false"
      [url]="shareUrl"
      description="¡Conoce todos los datos de mi recorrido gracias a FreeMove!"
    >
    </share-buttons>
  </div>
  <div class="route-info">
    <app-card
      title="Distancia"
      iconSrc="assets/icons/distance.png"
      [description]="route.distance"
      measurement="metros"
    ></app-card>
    <app-card
      title="Ciudad"
      iconSrc="assets/icons/place.png"
      [description]="route.city"
    ></app-card>
    <app-card
      title="Dificultad"
      iconSrc="assets/icons/difficulty.png"
      [description]="route.difficulty"
    ></app-card>
    <app-card
      title="Tipo de Ruta"
      iconSrc="assets/icons/type.png"
      [description]="route.type"
    ></app-card>
    <app-card
      title="Tiempo de Inicio"
      iconSrc="assets/icons/start-time.png"
      [description]="route.startDate"
      [isDate]="true"
    ></app-card>
    <app-card
      title="Tiempo de finalización"
      iconSrc="assets/icons/start-time.png"
      [description]="route.endDate"
      [isDate]="true"
    ></app-card>
    <app-card
      title="Tiempo trasncurrido"
      iconSrc="assets/icons/time-elapsed.png"
      [description]="route.timeElapsed"
      measurement="minutos"
    ></app-card>
    <app-card
      title="Tiempo en Movimiento"
      iconSrc="assets/icons/time-elapsed.png"
      [description]="route.timeInMoving"
      measurement="minutos"
    ></app-card>
    <app-card
      title="Tipo de Actividad"
      iconSrc="assets/icons/activity-type.png"
      [description]="route.activityType"
    ></app-card>
    <app-card
      title="Calorías Quemadas"
      iconSrc="assets/icons/burnout-calories.png"
      [description]="route.burnoutCalories"
      measurement="cal"
    ></app-card>
    <app-card
      title="Velocidad Promedio"
      iconSrc="assets/icons/velocity-avg.png"
      [description]="route.velocityAvg"
      measurement="Km/h"
    ></app-card>
    <app-card
      title="Velocidad Máxima"
      iconSrc="assets/icons/velocity-max.png"
      [description]="route.velocityMax"
      measurement="Km/h"
    ></app-card>
  </div>
</main>
