#user-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-block:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

#user-block:hover .text-muted {
  color: white !important;
}

.photo-url {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.user-name {
  display: block;
}

.user-email {
  color: rgb(118, 118, 118);
  font-size: 0.8rem;
  font-weight: bold;
  word-wrap: anywhere;
}