<nav class="navbar">
  <div class="navbar-logo" routerLink="/">
    <img src="assets/logoFreeMove.png" alt="FreeMove Logo" />
  </div>
  <ul class="navbar-listado">
    <li class="navbar-listado-item">
      <a routerLink="/">Inicio</a>
    </li>
    <li class="navbar-listado-item">
      <a routerLink="/about">Acerca de</a>
    </li>
    <li class="navbar-listado-item">
      <a routerLink="/city">Ciudad</a>
    </li>
    <li class="navbar-listado-item">
      <a routerLink="/health">Salud</a>
    </li>
    <li class="navbar-listado-item">
      <a routerLink="/services">Servicios</a>
    </li>
    <li>
      <button routerLink="/auth/login" class="boton-login">
        Registro/Ingreso
      </button>
    </li>
  </ul>
</nav>
