<header class="route-header">
  <h3>
    {{ route.name | titlecase }} ({{ route.distance | number : "1.0-2" }} km)
  </h3>
  <p class="route-city">
    Ciudad: <span>{{ route.city }}</span>
  </p>
  <div class="route-calification">
    <p>Calificación:</p>
    <bar-rating
      [rate]="route.calification"
      [max]="5"
      [readOnly]="true"
    ></bar-rating>
  </div>
  <div
    class="route-keywords"
    *ngIf="route.keywords && route.keywords.length > 0"
  >
    <p>Palabras Clave:</p>
    <span class="keyword" *ngFor="let keyword of route.keywords">
      {{ keyword }}
    </span>
  </div>
  <app-photos
    *ngIf="route.photos && routeImages.length > 0"
    [photos]="routeImages"
  ></app-photos>
</header>
<main class="main-container">
  <div #mapDiv class="map">
    <share-buttons
      class="share-buttons"
      theme="circles-dark"
      [include]="['copy', 'facebook', 'twitter', 'whatsapp']"
      [showIcon]="true"
      [showText]="false"
      [url]="shareUrl"
      description="¡Conoce todos los datos de mi recorrido gracias a FreeMove!"
    >
    </share-buttons>
  </div>
  <div class="route-info">
    <app-card
      title="Dificultad"
      iconSrc="assets/icons/difficulty.png"
      [description]="route.difficulty"
    ></app-card>
    <app-card
      title="Tipo de Ruta"
      iconSrc="assets/icons/type.png"
      [description]="route.type"
    ></app-card>
    <app-card
      title="Tiempo de Inicio"
      iconSrc="assets/icons/start-time.png"
      [description]="route.startDate"
      [isDate]="true"
    ></app-card>
    <app-card
      title="Tiempo de finalización"
      iconSrc="assets/icons/start-time.png"
      [description]="route.endDate"
      [isDate]="true"
    ></app-card>
    <app-card
      title="Tiempo trasncurrido"
      iconSrc="assets/icons/time-elapsed.png"
      [description]="route.timeElapsed"
      measurement="minutos"
    ></app-card>
    <app-card
      title="Tipo de Actividad"
      iconSrc="assets/icons/activity-type.png"
      [description]="route.activityType"
    ></app-card>
    <app-card
      title="Calorías Quemadas"
      iconSrc="assets/icons/burnout-calories.png"
      [description]="route.burnoutCalories"
      [isNumber]="true"
      measurement="kcal"
    ></app-card>
    <app-card
      title="Velocidad Promedio"
      iconSrc="assets/icons/velocity-avg.png"
      [description]="route.velocityAvg"
      [isNumber]="true"
      measurement="Km/h"
    ></app-card>
  </div>
</main>
