<div *ngIf="!isLoading" class="fade-in">
  <form
    [formGroup]="newPasswordForm"
    #form
    autocomplete="off"
    (submit)="updatePassword()"
  >
    <div *ngIf="isDisabled" class="alert alert--error">
      <p>
        No es posible actualizar la contraseña si inicio sesión con
        <strong>Google</strong> o <strong>Facebook</strong>
      </p>
    </div>
    <div @fade *ngIf="isError" class="alert alert--error">
      <p><strong>¡Error!</strong> La contraseña es incorrecta</p>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña anterior</mat-label>
      <input
        type="password"
        matInput
        formControlName="oldPassword"
        placeholder="********"
      />
      <mat-error *ngIf="invalidInput('oldPassword')">
        Mínimo <strong>6</strong> caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nueva contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="********"
      />
      <mat-error *ngIf="invalidInput('password')">
        Mínimo <strong>6</strong> caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password2"
        placeholder="Repetir la contraseña"
      />
      <mat-error *ngIf="invalidInput('password2')">
        Las contraseñas deben ser <strong>iguales</strong>
      </mat-error>
    </mat-form-field>
    <div class="flex-center">
      <button type="submit" class="primary-button" [disabled]="isDisabled">
        <span>Actualizar</span>
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>

<div *ngIf="isLoading" class="flex-center spinner-loading">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>
