<div class="custom-card">
  <div class="card-icon">
    <img [src]="iconSrc" [alt]="title" />
  </div>
  <div class="card-info">
    <h3 class="card-title">{{ title }}</h3>
    <p *ngIf="!isDate && !isNumber" class="card-description">
      {{ description }} {{ measurement }}
    </p>
    <p *ngIf="isDate" class="card-description">
      {{ description.toDate() | date: "mediumTime" }}
    </p>
    <p *ngIf="isNumber" class="card-description">
      {{ description | number: "1.0-2" }} {{ measurement }}
    </p>
  </div>
</div>
