<div class="card mb-4" *ngIf="user">
  <header class="post-header">
    <img
      [src]="photoUrl"
      alt="Imagen de Perfil"
      class="circle"
      referrerpolicy="no-referrer"
      loading="lazy"
    />
    <h5 [routerLink]="['/dashboard/usuario', user.idUser]" class="pointer">
      {{ user.name }}
    </h5>
    <button
      *ngIf="currentUser.idUser === user.idUser"
      class="post-button"
      mat-icon-button
      [matMenuTriggerFor]="settings"
    >
      <mat-icon>more_vert</mat-icon>

      <!-- Menu -->
      <mat-menu #settings xPosition="before">
        <button mat-menu-item (click)="deletePost()">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </button>
  </header>
  <main class="post-main">
    <img
      class="pointer"
      [src]="post.url"
      (click)="openModal(commentsModal, 'modal-lg')"
      loading="lazy"
    />
    <div class="post-information">
      <div class="post-likes">
        <button class="like-button" [disabled]="isDisabled">
          <mat-icon
            *ngIf="likes.includes(currentUser.idUser)"
            (click)="removeLike()"
            >favorite</mat-icon
          >
          <mat-icon
            *ngIf="!likes.includes(currentUser.idUser)"
            (click)="addLike()"
            >favorite_outline</mat-icon
          >
        </button>
        <span
          class="text-bold pointer"
          (click)="openModal(likesModal, 'modal-md')"
        >
          {{ likes.length }} {{ likes.length === 1 ? "like" : "likes" }}
        </span>
      </div>
      <div class="post-description">
        <span class="text-bold">{{ user.name }} </span>
        <span>{{ post.description }}</span>
      </div>
      <p
        *ngIf="comments.length > 0"
        class="post-comments d-none d-sm-block pointer"
        (click)="openModal(commentsModal, 'modal-lg')"
      >
        Ver los {{ comments.length }}
        {{ comments.length === 1 ? "comentario" : "comentarios" }}
      </p>
      <p
        *ngIf="!showComments && comments.length > 0"
        class="post-comments d-sm-none pointer"
        (click)="showComments = true"
      >
        Ver los {{ comments.length }}
        {{ comments.length === 1 ? "comentario" : "comentarios" }}
      </p>
      <p
        *ngIf="showComments && comments.length > 0"
        class="post-comments d-sm-none pointer"
        (click)="showComments = false"
      >
        Ocultar comentarios
      </p>
      <div *ngIf="showComments" class="comments-mobile d-sm-none">
        <div *ngFor="let comment of comments">
          <app-comment
            [idPost]="post.idPost"
            [canDelete]="
              post.idUser.id === currentUser.idUser ||
              comment.idUser.id === currentUser.idUser
            "
            [comment]="comment"
          ></app-comment>
        </div>
      </div>

      <p class="post-time">{{ timeAgo }}</p>
    </div>
  </main>
  <hr />
  <form autocomplete="off" [formGroup]="commentForm">
    <footer class="post-footer">
      <textarea
        formControlName="comment"
        autocomplete="off"
        rows="1"
        maxlength="150"
        placeholder="Añade un comentario..."
      ></textarea>
      <button [disabled]="commentForm.invalid" (click)="addComment()">
        Publicar
      </button>
    </footer>
  </form>
</div>

<ng-template #likesModal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Me gusta</h4>
      <button
        type="button"
        class="close pull-right btn-close"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="likes">
      <div *ngFor="let user of usersLiked">
        <app-user
          (closeModal)="closeModal()"
          [idCurrentUser]="currentUser.idUser"
          [user]="user"
        ></app-user>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #commentsModal>
  <div class="comments-modal" *ngIf="user">
    <img class="modal-img" [src]="post.url" loading="lazy" />
    <main class="post-main">
      <header class="post-header">
        <img
          [src]="user.photoUrl"
          alt="Imagen de Perfil"
          class="circle"
          referrerpolicy="no-referrer"
          loading="lazy"
        />
        <h5 [routerLink]="['/dashboard/usuario', user.idUser]" class="pointer">
          {{ user.name }}
        </h5>
        <button
          *ngIf="currentUser.idUser === user.idUser"
          class="post-button"
          mat-icon-button
          [matMenuTriggerFor]="settings"
        >
          <mat-icon>more_vert</mat-icon>

          <!-- Menu -->
          <mat-menu #settings xPosition="before">
            <button mat-menu-item (click)="deletePost()">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </button>
      </header>
      <hr />
      <div class="modal-comments padding-util">
        <span class="text-bold">{{ user.name }} </span>
        <span>{{ post.description }}</span>
        <div *ngFor="let comment of comments">
          <app-comment
            (deleteComment)="deleteComment($event)"
            (closeModal)="closeModal()"
            [idPost]="post.idPost"
            [canDelete]="
              post.idUser.id === currentUser.idUser ||
              comment.idUser.id === currentUser.idUser
            "
            [comment]="comment"
          ></app-comment>
        </div>
      </div>
      <hr />
      <div class="post-information">
        <div class="post-likes">
          <button class="like-button" [disabled]="isDisabled">
            <mat-icon
              *ngIf="likes.includes(currentUser.idUser)"
              (click)="removeLike()"
              >favorite</mat-icon
            >
            <mat-icon
              *ngIf="!likes.includes(currentUser.idUser)"
              (click)="addLike()"
              >favorite_outline</mat-icon
            >
          </button>
          <span
            class="text-bold pointer"
            (click)="openModal(likesModal, 'modal-md')"
          >
            {{ likes.length }} {{ likes.length === 1 ? "like" : "likes" }}
          </span>
        </div>

        <p class="post-time">{{ timeAgo }}</p>
      </div>
      <hr />
      <form autocomplete="off" [formGroup]="commentForm">
        <footer class="post-footer">
          <textarea
            formControlName="comment"
            autocomplete="off"
            rows="1"
            maxlength="150"
            placeholder="Añade un comentario..."
          ></textarea>
          <button [disabled]="commentForm.invalid" (click)="addComment()">
            Publicar
          </button>
        </footer>
      </form>
    </main>
  </div>
</ng-template>
