.map {
  position: relative;
  min-height: calc(100vh - 6rem);
  height: calc(100% - 6rem);
}

@media (min-width:992px) {
  .map {
    height: 100%;
  }
}

.marker {
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.incident-marker {
  background-image: url(/assets/icons/warning.png);
}