<div @fade *ngIf="isLoading" class="full-screen flex-center">
  <mat-spinner class="spinner" [diameter]="100"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <header class="header">
    <app-navbar (isLoading)="changeLoadingState()"></app-navbar>
    <div class="header-slider">
      <div class="header-wrapper">
        <picture *ngFor="let photo of sliderPhotos">
          <source type="image/webp" srcset="{{photo}}.webp" />
          <img src="{{ photo }}.jpg" alt="Slider images" />
        </picture>
      </div>
    </div>
    <div class="header-logo">
      <picture>
        <source type="image/webp" srcset="assets/home/logo-header.webp" />
        <img src="assets/home/logo-header.png" alt="FreeMove" />
      </picture>
    </div>
  </header>

  <div class="container">
    <section class="city-information" id="city">
      <header class="city-header">
        <h2>Ciudad Inteligente</h2>
        <!-- <button class="primary-button city-button">Más información</button> -->
      </header>

      <div class="info-cards">
        <div class="info-card">
          <p *ngIf="!isCountReady">0</p>
          <p
            *ngIf="isCountReady"
            [countUp]="routes.length"
            [duration]="1000"
          ></p>
          <div class="card-img">
            <img src="assets/home/rutas-icon.svg" alt="Rutas" />
            <p>
              {{ routes.length > 1 || routes.length == 0 ? "Rutas" : "Ruta" }}
            </p>
          </div>
        </div>
        <div class="info-card">
          <p *ngIf="!isCountReady">0</p>
          <p
            *ngIf="isCountReady"
            [countUp]="users.length"
            [duration]="1000"
          ></p>
          <div class="card-img">
            <img src="assets/home/ciclistas-icon.svg" alt="Ciclistas" />
            <p>
              {{
                users.length > 1 || users.length == 0 ? "Ciclistas" : "Ciclista"
              }}
            </p>
          </div>
        </div>
        <div class="info-card">
          <p *ngIf="!isCountReady">0</p>
          <p
            *ngIf="isCountReady"
            [countUp]="incidents.length"
            [duration]="1000"
          ></p>
          <div class="card-img">
            <img src="assets/home/incidentes-icon.svg" alt="Incidentes" />
            <p>
              {{
                incidents.length > 1 || incidents.length == 0
                  ? "Incidentes"
                  : "Incidente"
              }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="health-information" id="health">
    <picture>
      <source
        class="health-background"
        type="image/webp"
        srcset="assets/home/salud-fondo.webp"
      />
      <img
        class="health-background"
        src="assets/home/salud-fondo.png"
        alt="Salud"
      />
    </picture>
    <div class="container container2">
      <div class="health-container">
        <div class="health-img">
          <picture>
            <source type="image/webp" srcset="assets/logoFreeMoveAzul.webp" />
            <img src="assets/logoFreeMoveAzul.png" alt="FreMove logo" />
          </picture>
        </div>
        <div class="health-text">
          <h3>Salud</h3>
          <ul>
            <li>Registra tu información corporal: peso y altura.</li>
            <li>Observa tus resultados de salud.</li>
            <li>Avances del estado físico: quema de calorías.</li>
            <li>Alerta de descanso e hidratación.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="services-information" id="services">
    <div class="services-container">
      <div class="services-card">
        <picture>
          <source type="image/webp" srcset="assets/home/bitacora.webp" />
          <img src="assets/home/bitacora.png" alt="Bitácora" />
        </picture>

        <div class="services-card-information">
          <div class="services-card-information-listado">
            <ul>
              <li>Rutas realizadas.</li>
              <li>Distancias recorridas.</li>
              <li>Calorías quemadas.</li>
            </ul>
          </div>
          <p>Bitácora</p>
        </div>
      </div>
      <div class="services-card">
        <picture>
          <source type="image/webp" srcset="assets/home/seguridad.webp" />
          <img src="assets/home/seguridad.png" alt="Seguridad" />
        </picture>

        <div class="services-card-information">
          <div class="services-card-information-listado">
            <ul>
              <li>Reporte de incidentes.</li>
              <li>Seguimientos a terceros.</li>
              <li>Botón de pánico.</li>
            </ul>
          </div>
          <p>Seguridad</p>
        </div>
      </div>
      <div class="services-card last-card">
        <picture>
          <source type="image/webp" srcset="assets/home/comparte.webp" />
          <img src="assets/home/comparte.png" alt="Comparte" />
        </picture>

        <div class="services-card-information">
          <div class="services-card-information-listado">
            <ul>
              <li>Ruta seleccionada y nivel de complejidad.</li>
              <li>
                Difundir fotos realizados durante el recorrido de una ruta.
              </li>
              <li>Compartir logros obtenidos durante una ruta asignada.</li>
              <li>Observar el número de seguidores y seguidos.</li>
            </ul>
          </div>
          <p>Comparte</p>
        </div>
      </div>
    </div>
  </section>

  <section class="process-information" id="process" #process>
    <div class="container">
      <h3 class="process-title">Proceso</h3>
      <div class="process-container">
        <div class="process-item">
          <img src="assets/home/process1.svg" alt="Proceso" />
        </div>
        <div class="process-arrow">
          <img src="assets/home/arrow.svg" alt="Flecha" />
        </div>
        <div class="process-item">
          <img src="assets/home/process2.svg" alt="Proceso" />
        </div>
        <div class="process-arrow">
          <img src="assets/home/arrow.svg" alt="Flecha" />
        </div>
        <div class="process-item">
          <img src="assets/home/process3.svg" alt="Proceso" />
        </div>
        <div class="process-arrow">
          <img src="assets/home/arrow.svg" alt="Flecha" />
        </div>
        <div class="process-item">
          <img src="assets/home/process4.svg" alt="Proceso" />
        </div>
        <div class="process-arrow">
          <img src="assets/home/arrow.svg" alt="Flecha" />
        </div>
        <div class="process-item">
          <img src="assets/home/process5.svg" alt="Proceso" />
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
