.header {
  cursor: pointer;
}

.list-items {
  padding: 0;
}

.list-items li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: #A0A0A0;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.list-items li:hover {
  background-color: var(--verde-claro);
}

.list-items li:hover p {
  color: #535353;
}

.list-items p {
  margin: 0;
}

.list-items p:hover {
  color: var(--azul-oscuro);
}

.list-items img {
  width: 1.5rem;
  height: 1.5rem;
}

.active-link {
  background-color: var(--verde-claro);
  border-radius: 10px;
}

.active-link p {
  color: #535353;
}

.section-title {
  text-align: center;
  color: #575757;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 2rem 0;
}