<header class="header" routerLink="/">
  <img src="assets/logoFreeMoveAzul.png" alt="FreeMove" />
</header>
<div *ngFor="let item of menuItems">
  <section *ngIf="item.isAvailable">
    <h3 class="section-title">{{ item.title }}</h3>
    <ul class="list-items">
      <div *ngFor="let subItem of item.subItems">
        <li
          (click)="closeMenu()"
          [routerLink]="subItem.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="subItem.isAvailable"
        >
          <img [src]="subItem.icon" [alt]="subItem.name" />
          <p>
            {{ subItem.name }}
          </p>
        </li>
      </div>
    </ul>
  </section>
</div>
<!-- Security Alert -->
<button
  *ngIf="!isAlertActive"
  class="gradient-button activate-button"
  (click)="activateAlert()"
>
  Activar Alerta
  <mat-icon>add_alert</mat-icon>
</button>
<button
  *ngIf="isAlertActive"
  class="gradient-button desactivate-button"
  (click)="desactivateAlert()"
>
  Pausar Alerta
  <mat-icon>stop</mat-icon>
</button>

<!-- Logout -->
<button class="gradient-button logout-button" (click)="logout()">
  Cerrar sesión
  <mat-icon>logout</mat-icon>
</button>
