<div class="login-container">
  <div class="login-card">
    <form [formGroup]="forgotPasswordForm" (submit)="sendEmail()">
      <header class="form-header">
        <button type="button" routerLink="../login" class="flex-center">
          <mat-icon>arrow_circle_left</mat-icon>
        </button>
        <h3>Reestablecer contraseña</h3>
      </header>
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="invalidInput('email')">
          El correo electrónico es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <div class="flex-center">
        <button [disabled]="false" type="submit" class="primary-button">
          <span>Enviar email</span>
          <mat-icon>email</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
