<main class="community fade-in" *ngIf="(postService.data | async)?.length > 0">
  <section scrollable (scrollPosition)="scrollHandler($event)" class="posts">
    <div class="post" *ngFor="let post of postService.data | async">
      <app-post [post]="post" [idCurrentUser]="currentUser.idUser"></app-post>
    </div>
    <div *ngIf="postService.loading | async" class="flex-center fade-in">
      <mat-spinner [diameter]="100"></mat-spinner>
    </div>
  </section>
  <aside class="suggested" *ngIf="usersSuggested.length > 0">
    <app-suggested [users]="usersSuggested"></app-suggested>
  </aside>
</main>

<div
  *ngIf="(postService.data | async)?.length === 0 && !postService.loading"
  class="alert alert--info fade-in"
>
  No se encontró ningún resultado.
</div>

<div
  *ngIf="(postService.data | async)?.length === 0 && postService.loading"
  class="flex-center spinner-loading"
>
  <mat-spinner [diameter]="100"></mat-spinner>
</div>
