.community {
  max-width: 70rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px){
  .community {
    grid-template-columns: 75% 25%;
  }
}

.posts {
  height: 50rem;
  overflow-y: scroll;
}

.post {
  width: 100%;
}

.suggested {
  display: none;
}

@media (min-width: 768px){
  .suggested {
    display: block;
  }
}