* {
  font-family: var(--fuente-principal);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  /* Fuentes */
  --fuente-principal: 'Poppins', sans-serif;
  --fuente-logo: 'Baumans', cursive;
  /* Colores */
  --blanco: #FFFFFF;
  --negro: #000000;
  --amarillo: #F2AC20;
  --amarillo-hover: #c58b16;
  --verde-claro: #C2E7C9;
  --verde: #59ac68;
  --verde-oscuro: #3a7d46;
  --azul: #4265D6;
  --azul-oscuro: #293855;
  --azul-oscuro-hover: #1d273b;
  --gris: #A0A0A0;
  --gris-texto: #757575;
  --gris-texto-hover: #474747;
  --rojo: #BC6060;
  --rojo-hover: #843e3e;
  /* Alerts */
  /* success */
  --alertsuccess : #ddf0d7;
  --alertsuccessborder : #a4cd98;
  --alertsuccesstext : #1c652c;
  /* warning */
  --alertwarning : #ffefc6;
  --alertwarningborder : #e5c073;
  --alertwarningtext : #795d27;
  /* error */
  --alerterror : #f6ddde;
  --alerterrorborder : #d4aaac;
  --alerterrortext : #972a3d;
  /* info */
  --alertinfo : #d4edf7;
  --alertinfoborder : #93c7da;
  --alertinfotext : #114a59;
}

/* Utilities */

.full-screen {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.spinner-loading {
  min-height: calc(100vh - 6rem);
  height: calc(100% - 6rem);
}

@media (min-width:768px) {
  .spinner-loading {
    min-height: calc(100vh - 12rem);
    height: calc(100% - 12rem);
  }
}

/* Effects */

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    left: 100%;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    left: 0%;
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
    left: 100%;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    left: 0%;
  }
}

/* Buttons */

.primary-button {
  background-color: var(--amarillo);
  border-radius: 3px;
  border: none;
  color: var(--blanco);
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.primary-button:hover {
  background-color: var(--amarillo-hover);
}

.primary-button:disabled {
  background-color: rgb(190, 190, 190);
  color: rgb(255, 255, 255);
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.primary-button:disabled:hover {
  background-color: rgb(144, 144, 144);
}

.cancel-button {
  background-color: #56717D !important;
  color: #FFFFFF !important;
}

.cancel-button:hover {
  background-color: #3a4d55 !important;
}

.confirm-button {
  background-color: #3a7d46 !important;
  color: #FFFFFF !important;
}

.confirm-button:hover {
  background-color: #2c5e34 !important;
}

/* Alerts */

.alert {
  padding: 10px 35px 10px 14px;
  background-color: #eee;
  border-radius: 4px;
  position: relative;
  margin: 10px 0;
  width: 100%;
}

.alert p {
  font-size: 0.8rem;
  margin: 0;
}

.alert--success {
  background: var(--alertsuccess);
  border-color: var(--alertsuccessborder);
  color: var(--alertsuccesstext);

}

.alert--warning {
  background: var(--alertwarning);
  border-color: var(--alertwarningborder);
  color: var(--alertwarningtext);
}

.alert--info {
  background: var(--alertinfo);
}

.alert--error {
  background: var(--alerterror);
  border-color: var(--alerterrorborder);
  color: var(--alerterrortext);
}

/* Modal */

.modal-dialog {
  max-width: 100%;
}

.modal-md {
  max-width: 35rem;
  width: 90%;
}

.modal-lg {
  max-width: 80rem;
  width: 90%;
}

/* PrimeNg */

.p-calendar, 
p-dropdown, 
.p-dropdown, 
p-togglebutton,
.p-togglebutton {
  width: 100%;
}

.p-paginator > p-dropdown {
  width: initial;
}

/* Input Color */

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #b6b6b6 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  /*change color of underline*/
  color: #b6b6b6 !important;
  background-color: #FFF !important;
}

.mat-input-element {
  caret-color: #000000 !important;
}

/* Input Error */

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: red !important;
}

/* Mat Spinner */

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--amarillo-hover) !important;
}

/* Mat Menu */

.mat-menu-content {
  width: 16rem !important;
}

/* Fix mat-select and modal */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}

/* Hide arrows of inputs type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-dark {
  background-color: #383E49;
}

.container {
  margin: 0 auto;
  padding: 0px;
}

.text-primary {
  color: #E83F6F !important;
}

.border-primary {
  border: 1px solid rgba(232, 63, 111, 0.726) !important;
}

.bg-primary {
  transition: all 0.3s ease !important;
  background-color: var(--amarillo) !important;
}

.border-secondary {
  border: 1px solid rgba(63, 196, 232, 0.726) !important;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
}

.circle {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(241, 241, 241);
}

.btn-round {
  border-radius: 100px;
}

.bg-none {
  background-color: rgba(255, 255, 255, 0) !important;
}

.pointer {
  cursor: pointer;
}

.popover-body {
  padding: 0px !important;
}

.text-bold {
  font-weight: bold;
}