* {
  font-family: var(--fuente-principal);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  /* Fuentes */
  --fuente-principal: 'Poppins', sans-serif;
  /* Colores */
  --blanco: #FFFFFF;
  --negro: #000000;
  --amarillo: #F2AC20;
  --amarillo-hover: #c58b16;
  --verde-claro: #C2E7C9;
  --azul: #4265D6;
  --azul-oscuro: #293855;
  --gris: #A0A0A0;
}

/* Clase container de Boostrap */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Fix mat-select and modal */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}

/* Input Color */

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #b6b6b6 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  /*change color of underline*/
  color: #b6b6b6 !important;
}

.mat-input-element {
  caret-color: #000000 !important;
}

/* Input Error */

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: red !important;
}
