<footer class="footer">
  <div class="container">
    <div class="footer-logos">
      <div routerLink="/">
        <img src="assets/home/footerLogo.png" alt="FreeMove Logo" />
      </div>
      <div>
        <img src="assets/home/utplLogo.png" alt="UTPL Logo" />
      </div>
    </div>

    <div class="footer-texts">
      <p>Observatorio de Movilidad</p>
      <p class="text-short">Ciencias de la Computación y Electrónica</p>
    </div>

    <hr />
    <p class="copyright">Derechos Reservados UTPL - {{ year }}</p>
    <div class="footer-links">
      <a href="">
        <img src="assets/home/facebook-icon.svg" alt="Facebook Logo" />
      </a>
      <a href="">
        <img src="assets/home/twitter-icon.svg" alt="Twitter Logo" />
      </a>
      <a href="">
        <img src="assets/home/instagram-icon.svg" alt="Instagram Logo" />
      </a>
    </div>
  </div>
</footer>
