.map {
  position: relative;
  min-height: calc(100vh - 6rem);
  height: calc(100% - 6rem);
}

@media (min-width:992px) {
  .map {
    height: 100%;
  }
}

.header {
  margin: 1rem 0;
}

.header h1 {
  margin: 0;
  font-size: 1.7rem;
  color: #3d3d3d;
}